<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <style>
      #title {
        font-family: "Permanent Marker";
        font-size: 3em;
      }
    </style>
  </head>
  <body class="w-full h-screen bg-zinc-900 text-white flex flex-col p-4">
    <div class="w-full flex justify-center">
      <h1 id="title">Scatch</h1>
    </div>
    <div class="content flex w-full bg-zinc-800 h-full p-2">
      <aside class="filter-section w-1/5  border-r-2 flex gap-4 flex-col justify-start  px-3 h-full">
        <div class="admin-sidebar">
          <span>Admin Dashboard</span>
        </div>
        <ul class="flex flex-col gap-2">
          <li class="list-none p-1"><a href="/api/v1/owners/createproduct">Add Product</a>t</li>
        </ul>
        <button id="logout-admin" class="bg-red-600 text-white rounded-md px-3 py-1 cursor-pointer">Logout</button>
      </aside>
      <section class="container h-full w-4/5 p-3 flex flex-wrap gap-3">
        <% if(productData.length > 0 ){%> <%productData.forEach(product =>{%>
        <div
          class="card border border-white w-[220px] shrink-0 h-[300px] overflow-hidden rounded-xs "
        >
          <div class="image overflow-hidden h-3/4 w-full bg-[<%=product.bgColor%>]">
            <img class="object-contain w-full h-full "   src=<%=product.productImage%> alt="<%=product.name%>">
          </div>
          <div
            class="desc flex justify-between p-2 h-1/4 text-[<%=product.textColor%>]  items-center bg-[<%=product.panelColor%>]"
          >
            <div class="titleanddesc">
              <h4><%=product.name%></h4>
              <h4><%=product.price%></h4>
            </div>
            <div
              class="add-to-cart w-8 h-8 rounded-full bg-white text-black text-3xl font-bold flex justify-center items-center"
            >
              <span>+</span>
            </div>
          </div>
        </div>
        <%})%> <%}%>
      </section>
    </div>
  </body>
  <script src="/javascripts/script.js"></script>
</html>
