<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <style>
      #title {
        font-family: "Permanent Marker";
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body class="w-full h-screen bg-zinc-900 text-white flex flex-col p-4">
    <div class="w-full flex justify-between">
      <h1 id="title">Scatch</h1>
    </div>
   <div class="content p-10 border border-white">
    
       <h1 class="text-3xl font-bold ">Your Cart</h1>
        <hr class="w-full my-2">
        <div class="container h-full w-4/5 p-3 flex flex-wrap gap-3">
            <% if(cart.length > 0) {%>
              <% cart.forEach(product =>{%>
                <div
        id="<%=product._id%>"
          class="card w-[220px] shrink-0 h-[300px] overflow-hidden rounded-xs bg-red-400"
        >
          <div class="image overflow-hidden h-3/4 w-full bg-yellow-300">
            <img class="object-fit w-full" src=<%=product.productImage%> alt="<%=product.name%>">
          </div>
          <div
            class="desc flex justify-between p-2 h-1/4 bg-red-700 items-center"
          >
            <div class="titleandprice">
              <h4><%=product.name%></h4>
              <h4>Rs.<%=product.price%></h4>
            </div>
            <div
            id="add-to-cart"
              class=" w-8 h-8 rounded-full bg-white text-black text-3xl font-bold flex justify-center items-center cursor-pointer"
            >
            +
            </div>
          </div>
        </div>
        <%})%>
              <%}%>
        </div>
   </div>
  </body>
  <script src="/javascripts/script.js"></script>
</html>
